.model {
  font-family: Montserrat;
  text-align: center;
}

.model-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0px;
}

.model-description {
  font-weight: 400;
  font-size: 20px;
  margin-top: 4px;
}

.underline-description {
  text-decoration: underline;
}