.bio{
    display: block;
}

.survey{
    display: inline-block;
    width: 250px;
    vertical-align: middle;
}

.google-search{
  width: 600px;
  border-radius: 20px;
  font-size: 15px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
  border: none;
  padding: 5px 10px 5px 10px;
  margin: auto;
  display: block;
  text-align: center;
}

.google-logo{
    width: 320px;
    margin: 20px auto;
    display: block;
    object-fit: cover;
}

.name, .email{
    border: solid;
    border-color: rgb(173, 173, 173);
    border-width: 1px;
    border-radius: 5px;
}

.email{
    display: block;
    width: 355px;
    font-size: 15px;
    margin-top: 5px;
    padding: 3px 5px 3px 5px;
    margin-bottom: 5px;
}

.name{
    width: 170px;
    font-size: 15px;
    padding: 3px 5px 3px 5px;
}

.signup-button{
    color: white;
    background-color: rgb(80, 120, 255);
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    width: 370px;
    text-align: center;
    font-weight: bold;
}